{% extends 'base.html' %} {% block title %} FEATURES {% endblock %} {% block
body %}

<h1 align="center" class="main-title">THE FEATURES</h1>

<b
  ><p class="under_head" , align="center" , padx="50px">
    Pretty interesting?
  </p></b
>
<hr class="border border-danger border-5 opacity-50" />
<h1 align="center" class="bg-txt">THE FEATURES</h1>

<div class="main-content">
  <div class="under_head" style="margin-top: 50px">
    My current Coding Timeline
  </div>

  <div class="Scroll-timeline">
    <div class="timeline-scroll-wrapper">
      <div class="timeline">
        <div class="milestone">
          <p>Start</p>
          <div class="description">
            My start happened in early 2023 with Python
          </div>
        </div>
        <div class="milestone">
          <p>CheckPoint</p>
          <div class="description">
            By mid-2023 I had learnt the basics and strated To experiment with
            new stuff.
          </div>
        </div>
        <div class="milestone">
          <p>Project 1: Calculator</p>
          <div class="description">
            By October I was a little too into watching tutorials but i started
            on the Calculator
          </div>
        </div>
        <div class="milestone">
          <p>Project 2: Quote Genrator & File sorteer</p>
          <div class="description">
            I also made this mini-Projects as I explored the Os library and
            related stuff.
          </div>
        </div>
        <div class="milestone">
          <p>E-Design</p>
          <div class="description">
            By end of 2023 I had also started Canva desiging for personal use.
          </div>
        </div>
        <div class="milestone">
          <p>CheckPoint</p>
          <div class="description">
            By Start of 2024 I had been learning classes in python.
          </div>
        </div>
        <div class="milestone">
          <p>Web-dev</p>
          <div class="description">By mid 2024 I got into HTML and CSS.</div>
        </div>
        <div class="milestone">
          <p>Flask</p>
          <div class="description">
            During the last couple of months of 2024 I started to experiment
            with Flask.
          </div>
        </div>
        <div class="milestone">
          <p>Now</p>
          <div class="description">
            Right now in 2025's middle phase I have fully commited to make this
            website explore game-dev and ML
          </div>
        </div>
        <div class="milestone">
          <p>Future</p>
          <div class="description">
            I'd Like to Learn javaScript and more about ML & Ai
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
