{% extends 'base.html' %} {% block title %}Weather tool{% endblock %} {% block
body %}

<div class="content">
  <div>
    <form action="/" method="POST">
      <p>
        <input type="text" name="nm" placeholder="Enter city" required />
      </p>
      <p>
        <input type="submit" value="Confirm City" />
      </p>
    </form>
  </div>

  <div class="weather box">
    <h2>WEATHER</h2>
    {% if details %}
    <p class="info">{{ details }}</p>
    {% else %}
    <p class="info">Enter a city above to get the weather.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
